* {
    padding: 0;
    margin: 0;
}

/* Navigation fo about company page:
    -header
    -slider
    -footer
*/

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 20px auto;
    padding: 20px;
}

.nav__list {
    margin-bottom: 58px;
}

.list__item {
    display: inline;
    border-radius: 20px;
    background: #F3F3F3;
    padding: 15px;
    margin-right: 23px;
}

.list__item:first-child {
    display: inline-block;
    transform: scale(1.2);
    background-color: #9A1212;
}

.list__item:first-child .list__link{
    color: #fff;
}

.list__link {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

/* slider */

.slider {
    position: relative;
    width: 600px;
    margin: 115px auto 0;
}

.slider__cont {
    width: inherit;
    position: relative;
    text-align: center;
    transition: all 2s ease;
}

.slider__item {
    display: none;
}

.move-right {
    transform: translate(350px, 0);
}

.move-left {
    transform: translate(-350px, 0);
}

.slider__item:first-child {
    display: block;
}

.slider__item img {
    border-radius: 45px;
    -webkit-box-shadow: 0px 3px 10px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 3px 10px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 3px 10px 4px rgba(34, 60, 80, 0.2);
}

.arrow {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 60px;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    color: #9A1212;
    font-weight: bold;
    text-decoration: none;
    z-index: 4;
}

.slider__prev {
    left: 7px;
}

.slider__next {
    right: 7px;
}

.slider__text {
    margin-top: 10px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #9A1212;
}

/* footer */

footer {
    background: url("../../assets/images/products/Mask\ Group.png") left 100% no-repeat;
}

footer>img {
    visibility: hidden;
}

.footer {
    padding: 25px;
    background-color: #F3F3F3;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.footer__text {
    font-size: 24px;
    line-height: 35px;
    color: #9A1212;
    text-align: right;
    display: block;
}




@media (max-width: 600px) {
    .header__container {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .nav__list {
        text-align: center;
    }

}

@media (max-width: 450px) {
    .slider {
        width: 300px;
    }

    .list__item:last-of-type {
        position: relative;
        top: 25px;
    }

    .footer__text {
        font-size: 16px;
    }

    .list__item {
        margin-right: 8px;
    }

    .list__link {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .list__item {
        display: block;
        margin-bottom: 20px;
        position: static !important;
        top: 0;
    }

    footer {
        background: url("../../assets/images/products/Mask\ Group.png") left 75% no-repeat;
    }
}

