

body {
    /* background: url("./assets/vE890CYzJ40.jpg") no-repeat #243CED center top; */
    /* background: #0033CC; */
    /* background-repeat: repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-repeat: no-repeat; */
    /* background-color: #243CED; */
    /* background-position: 50px 50px; */
    /* color: #fff; */
    /* font: 12px Verdana, sans-serif; */
}

p {
    border: 1px solid red;
    padding: 10px;
    margin: 50px;
    width: 100px;
    height: 50px;
}

/* 
h1 {
    font-size: 1.6em;
    color: #FFCC00;
    letter-spacing: 5px;
    text-align: center;
}

h2 {
    font-size: 1.3em;
    color: #FFCC00;
    text-decoration: underline;
    text-align: center;
}

p::first-letter {
    color: #FFCC00;
}

p#su {
    text-indent: 1.5em;
    word-spacing: 5px;
    font-style: italic;
} */

/* p#sn, p#so,  p#si {
    font: italic 12px Verdana, sans-serif;
} 

p#sn {
    font-style: normal;
}

p#so {
    font-style: oblique;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2em;
}

p#si {
    font-style: italic;
    font-size: 0.8em;
} */
/* 
p {
    text-indent: 1.2em;
    line-height: 200%;
}

p#so {
    text-transform: capitalize;
}

p#su {
    text-transform: uppercase;
    word-spacing: 10px;
}

p#si {
    text-transform: lowercase;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}  */